<!-- Data layer -->
<script type='text/javascript'>
	dataLayer = [{
	"timestamp":1645745992,
	"contentType":"story",
	"canonicalURL":"https:\/\/projects.seattletimes.com\/\/2022\/sports\/meet-the-seattle-sounders-lineup",
	"domain":"www.seattletimes.com",
	"post_id":<%= json.project.post_id %>,
	"author":"<%= json.project.author %>",
	"publishdate":"2022-02-24 15:39:52",
	"modifieddate":"2022-02-24 15:39:45",
	"title": "<%= json.project.title %>",
	"credit":"Seattle Times staff reporter",
	"tags":"",
	"categories":"",
	"galleryType":"standard",
	"age":0,
	"source":"ST-Projects",
	"meter":"on",
	"ads":"off",
	"allowComments":"on",
	"section_tier1":"sports",
	"section_tier2":"sounders",
	"sections_all":"sounders|sports",
	"othersections":"",
	"internalTags":"Projects",
	"hasVisuals": true,
	"videos": 0,
	}];
</script>
